{% extends 'base.html' %} 
{% block title %}Create Blog post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Add Post...</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Post</button> | <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>
<script>
    var name = "{{ user.id }}"
    document.getElementById("elder").value = name;
</script>
{% else %}
    you are not allowed in here
{% endif %}


{% endblock %}