{% extends 'base.html' %} 
{% block title %}Edit Blog post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if post.author.id == user.id %}
        <h1>Update Post...</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button> | <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            </form>
        </div>
    {% else %}
        You're not allowed here! (and you know it...)
    {% endif %}
{% else %}
    You're not allowed here! (and you know it...)
{% endif %}

{% endblock %}